<div class="container">
  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header">
          <img src="icons/icon-client.png" alt="user" class="card__image" />
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
            excepturi eligendi id labore, dolorum assumenda numquam minima
            dolores et. Maiores facere repudiandae vitae veritatis fuga dolores
            sint id ad inventore!
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header card__header--direction-column">
          <h1>Fulano da silva</h1>
          <img src="icons/icon-client.png" alt="user" class="card__image" />
          <h3>Dev Front-End</h3>
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, esse
            ullam cum, accusantium corporis fugit nesciunt praesentium
            necessitatibus iusto ipsum et impedit expedita quos voluptas beatae
            possimus excepturi minus voluptatum.
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>
</div>
